/* Estilos gerais do header */
.header {
    display: flex;
    align-items: center; /* Alinha todos os itens verticalmente no centro */
    justify-content: space-between; /* Espaça o conteúdo para as extremidades */
    padding: 14px 20px;
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa a largura total */
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray; /* Sombra sutil */
  }
  
  /* Adiciona espaçamento ao corpo da página para que não fique escondido atrás do header */
  body {
    padding-top: 80px; /* Ajuste este valor conforme a altura do header */
  }
  
  /* Estilos do logo */
  .logo {
    margin-right: 50px; /* Espaçamento entre o logo e o título */
  }
  
  .logo img {
    height: 100px;
    width: auto;
  }
  
  /* Estilos do título à esquerda */
  .header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Container para centralizar os links */
  .nav-container {
    flex-grow: 1; /* Permite que este container cresça */
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
  }
  
  /* Estilos da navegação */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 140px; /* Espaçamento entre os links */
    padding: 0;
    margin: 10;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-links li a:hover {
    color: #f0a500; /* Cor de destaque ao passar o mouse */
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* Itens empilhados em telas pequenas */
      padding: 15px;
    }
  
    .nav-links {
      flex-direction: column; /* Links em coluna em telas pequenas */
      gap: 10px;
    }
  
    .header h1 {
      font-size: 20px;
    }
  }
  